body {
  background-color: rgb(217, 217, 217);
}

.landingHeading {
    text-align: center;
    color:rgb(210, 156, 56);
}

.landingOptions {
    text-align: center;
}

.landingLinks {
  display: inline-block;
  text-align: left;
}
